.container {
  display: flex;
  flex-direction: row;
  background: #005577;
  min-height: 64px;
  padding-left: 24px;
  padding-right: 24px;
  align-items: center;
}

.logo {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  line-height: 22px;
  color: white;
}

.flex {
  flex: 1;
}

.link {
  color: white;
  text-decoration: none;
  font-size: 18px;
  line-height: 22px;
}

.link:hover {
  color: #dddddd;
}
