.button {
  width: 100%;
  height: 48px;
  background: #00B8BF;
  outline: none;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  cursor: pointer;
  border: none;
  font-family: inherit;
  position: relative;
  user-select: none;
}

.button :hover {
  background: #005577;
}

.disabled {
  pointer-events: none;
  background: #dddddd;
}

.loading {
  pointer-events: none;
}
